{% extends 'base.html.twig' %}

{% block title %}Véhicloc
{% endblock %}

{% block body %}
	<section id="add">
		<a href="{{ path('home') }}">← Retour</a>
		<h1>Ajouter une voiture</h1>

		{{ form_start(form, {'method': 'POST'}) }}
		<div class="input">
			{{ form_row(form.name, {
					'label': 'Nom de la voiture',
				}) }}
		</div>
		<div class="input">
			{{ form_row(form.description, {
				'label': 'Description',
			}) }}
		</div>
		<div class="flex-input">
			<div class="input">
				{{ form_row(form.monthlyAmount, {
					'label': 'Prix mensuel',
				}) }}
			</div>
			<div class="input">
				{{ form_row(form.dailyAmount, {
					'label': 'Prix journalier',
				}) }}
			</div>
		</div>
		<div class="flex-input">
			<div class="input">
				{{ form_row(form.seatsNumber, {
					'label': 'Nombre de places',
				}) }}
			</div>
			<div class="input">
				{{ form_row(form.gearbox, {
					'label': 'Boîte de vitesse',
				}) }}
			</div>
		</div>
		<button class="btn-add" type="submit">Ajouter</button>
		{{ form_end(form) }}

	</section>
{% endblock %}
